<% provide(:title, 'About') %>
<h1>About Us</h1>
<p>
  This app is designed to keep track of all aspects of an artist's touring life.  The things we cover include:
  <ul>
    <li>Tour Finances (deposits, expenses, booking fees, billing, etc)</li>
    <li>Long-Term Financial Growth</li>
    <li>Per-Market Attendance and Guarantee Data</li>
    <li>Music Charts and Mp3s</li>
  </ul>
</p>
