<div class="center hero-unit">
  <h1>Welcome to BA Tour Manager Pro</h1>

  <h2>
    Welcome to Badass Tour Manager Pro
  </h2>

  <% if flash[:notice] %>
    <h3><%= flash[:notice] %></h3>
  <% end %>

  <%= link_to "Sign Up", sign_up_path, class: "btn btn-large btn-primary" %>
</div>
